@model IEnumerable<QLKTX.Models.Phong>

<table class="table">
    <thead class="table-active">
        <!-- Áp dụng class cho hàng tiêu đề -->
        <tr>
            <th>
                Tên phòng<span style="float:right;font-weight:normal">|</span>
            </th>
            <th>
                Tòa nhà<span style="float: right; font-weight: normal">|</span>
            </th>
            <th>
                Loại phòng<span style="float: right; font-weight: normal">|</span>
            </th>
            <th>
                Đơn giá<span style="float: right; font-weight: normal">|</span>
            </th>
            <th>
                Số lượng giường<span style="float: right; font-weight: normal">|</span>
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TenPhong
            </td>
            <td>
                @item.ToaNha.TenToaNha
            </td>
            <td>
                @item.LoaiPhong.TenLoaiPhong
            </td>
            <td>
                @item.LoaiPhong.DonGia
            </td>
            <td>
                @item.SoLuongGiuong
            </td>
            <td>
                <a href="@Url.Action("Edit", "PHONGs", new { id = item.PhongID })">Sửa</a> |
                <a href="@Url.Action("Details", "PHONGs", new { id = item.PhongID })">Chi tiết</a> |
                <a href="@Url.Action("Delete", "PHONGs", new { id = item.PhongID })">Xóa</a> |
            </td>
        </tr>
    }

</table>


